body {
    margin: 0;
    background-color: #CEC191;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2em;
}

.grid {
    display: grid;
    grid-template-columns: 0% 18% auto 18%;
    grid-template-rows: 10% auto;
}

#empty-left-side {
    grid-column: 1 / 2;
    background-color: #565038;
}

#empty-right-side {
    grid-column: 4 / 5;
    background-color: #c4ddef;
    border-left: 2px solid black;
}

.page-title, .todolist-container-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    text-align: center;
    font-family: Annie Use Your Telescope;
    font-size: 53px;
    background-color: #3E3619;
    color: #E0D8BB;
    padding: 3px;
}

.todolist-container-title {
    grid-column: 2 / 3;
    font-size: 35px;
    color: #3E3619;
    background-color: #c4ddef ;
}

.todolist-container {
    grid-column: 2 / 3;
    background-color: #c4ddef;
    color: #E0D8BB;
    text-align: center;
    min-width: 200px;
    border-right: 2px solid black;
}

.new-todolist, .todolist {
    width: 70%;
    min-height: 100px;
    height: auto !important;
    background-color: #CEC191;
    border: 4px white dashed;
    font-family: Annie Use Your Telescope;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 40px;
}


.todolist {
    border: 2px solid black;   
}


.new-todolist:hover, .todolist:hover {
        background-color: #fca062;
        width: 75%;
    }

.opened-todo {
    grid-column: 3 / auto;
}

.header {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    margin-top: 30px;
}

h2.todolist-title {
    font-size: 40px;
    margin: 0;
    font-family: Annie Use Your Telescope;
    font-weight: 100;
}

#input {
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid black;
    margin: 15px;
}


#add-btn-container, #delete-btn-container, #add-list-btn-container {
    display: flex;
    justify-content: center;
}

#delete-btn-container {
    margin-top: 100px;
}

#add-list-btn-container {
    margin-top: 20px;
}

.btn, .delete-list-btn {
    border-radius: 100%;
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid black;
    font-size: 17px;
    padding: 10px;
    font-family: Annie Use Your Telescope;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.delete-list-btn {
    background-color: #fca062;
}

*:focus {
    outline: none;
}

#list-of-tasks {
    margin-top: 50px;
    font-size: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    list-style: inside;
    list-style-type: none;
    padding: unset;
    font-family: Annie Use Your Telescope;
}

li {
    border: 1px solid black;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    margin-bottom: 5px;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 30px;
}


.completed-task {
    background-color: #7EEA6D;
}

#flash-message {
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    font-family: Annie Use Your Telescope;
    font-size: 20px;
    background-color: #db3e13;
}

.delete {
    float:right;
    cursor: pointer;
}


.w3-animate-top {
    width: 30em;
    background-color: #fca062;
    text-align: center;
    color: #25200F;
    border-radius: 30px;
    position: relative;
    animation: animatetop 0.4s;
}

.w3-container, .w3-panel {
    padding: 16px;
    font-family: Annie Use Your Telescope;
    font-size: 30px;
    width: 100%;
}

#title-input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    text-align: center;
}